.page-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.form-body {
    width: 25%;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.input-form {
    border: 1px solid;
}

.register-button {
    letter-spacing: 1px;
    color: white;
    background-color: darkolivegreen;
    border: 1px;
    border-radius: 50px;
    cursor: pointer;
    width: 75px;
    height: 25px;
}

.main-footer {
    text-align: center;
    bottom: 0;
    border: 1px solid;
}

body {
    background-color: lightgray;
}

h1 {
    color: darkolivegreen;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

p {
    color: darkolivegreen;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
